/******************************************************* Previous Code *******************/
.slide img {
  border-radius: 50%;
}

.slick-active img {
  opacity: 1;
}

.mainSlider .slick-active,
.next-slide img {
  opacity: 1;
  animation: mainSlider 2.5s ease-in-out;
}

@keyframes mainSlider {
  0% {
    transform: rotate(0);
    opacity: 0;
  }

  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}

.ParticaleSlider .slick-active,
.next-slide img {
  opacity: 1;
  transform-origin: center center;
  animation-delay: 0.1s !important;
  animation: ParticaleSlider 2s ease-in-out;
}

@keyframes ParticaleSlider {
  0% {
    transform: rotate(0);
    opacity: 0.9;
  }

  100% {
    transform: rotate(60deg);
    opacity: 1;
  }
}

.BackgroundSlider .slick-active,
.next-slide img {
  opacity: 1;
  transform-origin: center center;
  animation-delay: 0.2s !important;
  animation: BackgroundSlider 2s ease-in-out;
}

@keyframes BackgroundSlider {
  0% {
    transform: rotate(0);
    opacity: 0.9;
  }

  100% {
    transform: rotate(30deg);
    opacity: 1;
  }
}

.slick-dots {
  color: white;
  width: 250px;
  z-index: 999 !important;
  position: absolute;
  bottom: 50px;
  right: -450px;
}

.slick-dots li button:before {
  position: absolute;
  top: -4px;
  left: 0;
  padding-top: 2px;
  font-size: 14px;
  width: 20px;
  height: 20px;
  content: "•";
  opacity: 1;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-dots li.slick-active button:before {
  border: 1px solid white;
  border-radius: 50%;
  opacity: 1;
  scale: 1.1;
  color: white;
}
